<!DOCTYPE html>
<html>
<head>
    <title>Политика конфиденциальности</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 20px;
        }
        .content {
            max-width: 800px; /* Ограничивает ширину контента */
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="content">
        {{ policy.descriptions|safe }}
    </div>
</body>
</html>
